:root {
  --table-width: 1280px;
  --table-height: 360px;
}

table {
  width: var(--table-width);
  height: var(--table-height);
}

td {
  border: 0px solid black;
}

td.image {
  width: var(--table-height);
  text-align: center;
  vertical-align: middle;
}

td.content {
  width: calc(var(--table-width) - var(--table-height));
}

.personal-list {
  vertical-align: top;
  text-align: left;
}

.social-links {
  text-align: center;
  background-color: lightgray;
}

.social-links img {
  vertical-align: middle;
  margin: 2px;
}

.content-sign {
  vertical-align: bottom;
  text-align: center;
}

.personal-links {
  color: rgb(0, 204, 68);
  font-weight: 800;
}
