:root {
  --table-width: 1280px;
  --table-height: 360px;
}

table {
  width: var(--table-width);
  height: var(--table-height);
}

td {
  border: 1px solid black;
}

td.image {
  width: var(--table-height);
  text-align: center;
  vertical-align: middle;
}

td.content {
  width: calc(var(--table-width) - var(--table-height));
  text-align: center;
  vertical-align: middle;
}
